<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Title</title>
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="email" placeholder="email"/>
      <button>create</button>
      <p class="message">Есть регистрация? <a href="#">Войти</a></p>
    </form>
    <form method="post" action="" class="login-form">
      <input type="text" name="username" id="username" placeholder="Login"/>
      <input type="email" name="email" id="email" placeholder="Email"/>
      <button type="submit" name="submit" id="submit" value="Login">Войти</button>
      <p class="message">Зарегистрироваться? <a href="#">Создать аккаунт</a></p>
    </form>
  </div>
</div>
</body>
</html>